PORT = 8000:
MONGODB_URL=mongodb+srv://abhinav:IzPWe3DwPM5PWBv3@cluster0.urtdi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET = 123
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = ABHI // ACESS TOKEN WE CAN STORE IN DATABASE
REFRESH_TOKEN_EXPIRY = 10d